/* NavBar */

.navbar-custom {
    background-color: rgb(46, 46, 46);
}

#tickets {
    color: green;
}


/* Carousel */


.carousel-caption {
    color: white;
    background: rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

#caption-content{
    padding-right: 50px;
    position: absolute;
    right: 50px;
    top: 30%;
    text-align: right;
}

#boton-tickets {
    background-color: green;
    border: none;
}






/* Cards */

#oradores {
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    text-align: center;
}

#oradores p {
    font-size: xx-small;
    margin-bottom: 0px;
}

#oradores h5 {
    margin-bottom: 0px;
}

.btn-custom {
    font-size: xx-small;
    padding: 3px;
}

#btn-javascript {
    background-color: rgb(238, 191, 35);
    border: none;
}

#btn-react {
    background-color: rgb(64, 152, 224);
    border: none;
}

#btn-negocios {
    background-color: grey;
    border: none;
}

#btn-startups {
    background-color: rgb(218, 58, 58);
    border: none;
}

.card {
    margin: 2%;
}
.card-body {
    text-align: justify;
}


/* Playa Card */

#playa-container {
    margin-top: 2%;
    padding-left: 0px;
    padding-right: 0px;
}

#playa-card {
    margin: 0%;
    color: white;
    background-color: rgb(46, 46, 46);
    font-size: small;
}


/* Formulario */

#formulario {
    margin-top: 1.2%;
    margin-bottom: 2%;
    text-align: center;
}

#formulario p {
/*     font-size: xx-small; */
    margin-bottom: 0px;
}

#formulario p a {
    text-decoration: none;
}

#formulario p a:visited {
    color: black
}

#formulario h5 {
    margin-bottom: 0px;
}

#boton-formulario {
    background-color: rgb(127, 211, 0);
    color: white;
    border: none;
    margin-top: 2%;
}

footer {
    margin-top: 2%;
    background-color: rgb(22, 77, 102);
    padding-top: 3%;
    padding-bottom: 3%;
}

.btn-custom-footer {
    background-color: rgb(22, 77, 102);
    color: white;
    border: none;
}

.btn-custom-footer:hover {
    color: gray;
}

/* Formulario Comprar Tickets*/


.boton-formulario-ticket {
    background-color: rgb(127, 211, 0);
    width: 100%;
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
}

.card-body-ticket {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 12%;
}

#totalPagar {
    margin-top: 2%;
}

.card-body-ticket p {
    margin-bottom: 6%;
}

.card-body-ticket h5 {
    margin-bottom: 6%;
}

.card-body-ticket h4 {
    margin-top: 6%;
    margin-bottom: 6%;
}

#estudiantes-categorias {
    margin-top: 2.5%;
    margin-bottom: 2%;
}

#card-estudiante {
    border-color: rgb(8, 92, 126);
}

#card-trainee {
    border-color: rgb(46, 175, 214);
}

#card-junior {
    border-color: rgb(185, 223, 19);
}

.form-tickets input {
    margin-bottom: 2%;
}

.cantidad-categoria{
    text-align: left;
    padding-bottom: 1.5%;
}